.banner{
    background-image: linear-gradient(316deg, #6561d4, #6d91b9, #5fbf9b, #12ec77);
    width: 100%;
    height: 50vh;
}

.bannerText{
    text-align: center;
}

#brandName{
    font-family: 'Righteous', cursive;
    font-size: calc(2rem + 2vw);
    letter-spacing: .5rem;
}

#brandSince{
    font-size: calc(1.5rem + 1.5vw);
}

.history{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 10vh repeat(2, 1fr);
    grid-template-areas: 
        "header header header"
        "history1 history2 history3"
        "modern1 modern2 modern3";

    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1rem;
    row-gap: 2rem;
}

#gridHeader{
    grid-area: header;
    justify-self: center;
    align-self: center;
    box-shadow: 0 6px 6px 0 rgb(150, 146, 146);
    width: 100%;
}

.historyContent{
    width: 100%;
    height: 100%;
}

.textContainer{
    width: 100%;
    height: 30%;
    margin-bottom: 1rem;
}

.textContainer h3{
    font-size: calc(.8rem + .8vw);
}

.textContainer p{
    font-size: calc(.5rem + .5vw);
}

.imageContainer{
    width: 100%;
    height: 70%;
}

.imageContainer img{
    border-radius: 2% 20% 2%;
    margin: 0 auto;
    width: 90%;
    height: 100%;
    object-fit: cover;
}

#history1{
    grid-area: history1;
}

#history2{
    grid-area: history2;
}

#history3{
    grid-area: history3;
}

#modern1{
    grid-area: modern1;
}

#modern2{
    grid-area: modern2;
}

#modern3{
    grid-area: modern3;
}

@media only screen and (max-width: 900px){
    .history{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 10vh repeat(6, 1fr);
        grid-template-areas: 
            "header"
            "history1"
            "history2"
            "history3"
            "modern1"
            "modern2"
            "modern3"

    }

    .textContainer h3{
        font-size: calc(1rem + 1vw);
    }
    
    .textContainer p{
        font-size: calc(.8rem + .8vw);
    }
}