.banner{
    width: 100%;
    height: 100vh;
}

.banner video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translate(-50%, -50%);
}

.bannerText{
    color: white;
    background-color: rgba(0, 0, 0, .2)
}

#bannerTitle{
    font-size: calc(1.8rem + 1.8vw);
}

#bannerParag{
    font-size: calc(1.3rem + 1vw);
}

nav{
    background-color: rgba(253, 253, 253, 0.65);
}