#ilustrate-intro{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#card2{
    flex-direction: row-reverse;
    margin-bottom: 0;   
}

#banner{
    position: relative;
}

#bannerEnd{
    width: 100%;
    height: 120vh;
    background-image: url('../resources/images/Bicycle_slide3.png');
}

#bannerEnd .bannerText h1{
    font-size: calc(2rem + 2vw);
}

#bannerEnd .bannerText h2{
    font-size: calc(1.5rem + 1.2vw);
}

#bannerEnd .bannerText a{
    background-color: black;
    opacity: .65;
    border-radius: 1rem;
    color: #6561d4;
    font-size: calc(1.2rem + 2vw);
    transition: all .2s ease-out;
}

#bannerEnd .bannerText a:hover{
    padding: 2vw;
    transition: all .3s ease-in;
}

#bannerEnd .bannerText *{ 
    margin-bottom: 5rem;
    opacity: .88;
}

#slide1{
    background-image: url("../resources/images/slide1.jpeg");
}

#slide2{
    background-image: url("../resources/images/slide2.jpeg");
}

#slide3{
    background-image: url("../resources/images/slide3.jpeg");
}

