@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Righteous');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: .1vw;
}

html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

header{
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 1000;
}

a{
    text-decoration: none;
    color: #6561d4;
}

nav{
    position: relative;
    width: 100vw;
    height: 7vh;
    display: flex;
    background-color: rgba(253, 253, 253, 0.65);
}

nav img{
    margin: auto 1rem;
    width: 70px;
    height: 50px;
}

nav span{
    margin: auto .5rem;
    font-size: calc(15px + .8vw);
    font-weight: 700;
    font-family: 'Righteous', cursive;
}

nav ul{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: auto 1.2rem;
}

nav ul li{
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}

nav ul li a{
    border-radius: 1rem;
    transition: all .2s ease-out;
}

nav ul li a:hover{
    background: black;
    padding: .5vw;
    opacity: .65;
    border-radius: 1rem;
    transition: all .3s ease-in;
}

#submenu{
    display: none;
}

#menu{
    display: block;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

#menu:hover{
    overflow: visible;
}

#menu a:hover{
    padding: 0;
}

#menu:hover #submenu{
    overflow: visible;
    
}

#submenu{
    display: block;
    z-index: 100;
    position: absolute;
    top: 100;
    background-color: white;
    width: 300%;
    height: auto;
    margin: 0;
    padding: 12px;;
}

#submenu li{
    margin-left: 0;
    margin-bottom: .2vw;
}

#submenu li a:hover{
    padding: 0;
}

#burgerMenu{
    display: none;
}

.card{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.card img{
    width: 30%;
}

.card article{
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7em;
    width: 70%;
    margin: auto 0;
}

.card .cardTitle{
    text-align: center;
    margin-bottom: 5%;
    font-size: calc(1rem + 1vw);
}

.card article p{
    font-size: calc(.7rem + .6vw);
    margin-bottom: 2%;
}

.banner{
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

#bannerStart{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(316deg, #6561d4, #6d91b9, #5fbf9b, #12ec77);
}

#bannerStart .bannerText h1{
    font-family: 'Righteous', cursive;
    font-size: calc(1rem + 2vw);
    letter-spacing: .2vw;
}

.bannerText{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    text-align: center;
}

.bannerText *{
    margin-bottom: 2rem;
}

.slideshow{
    width: 100%;
    height: 75vh;
    position: relative;
}

.slide{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.slideText{
    width: auto;
    background-color: #dfe0dc;
    border-radius: 2rem;
    padding: .5rem;
    opacity: .88;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    justify-content: center;
    z-index: 2;
}

.slideText *{
    margin-bottom: 5%;
}

.slideTitle{
    display: block;
    font-size: calc(2rem + 1vw);
}

.slideDescription{
    font-size: calc(1.5rem + 1vw);
}

.slideShop{
    font-size: calc(1.2rem + 1vw);
    color: #6561d4;
    background-color: black;
    opacity: .85;
    border-radius: 1rem;
    transition: all .3s ease-out;
}

.slideShop:hover{
    z-index: 10;
    padding: 1vw;
    transition: all .3s ease-in;
}

.slideArrow{
    font-size: 500%;
    position: absolute;
    top: 50%;
    color: white;
    font-weight: 900;
    margin: .3vw;
    cursor: pointer;
}

#slideRight{
    right: 0;
}

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}

#map{
    width: 50%;
    height: 98.5%;
}

#map iframe{
    width: 100%;
    height: 100%;
    border: 0px;
}

.quickContact{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    background-color: rgb(13, 15, 24);
}

.quickContact h4{
    text-align: center;
    font-size: calc(1.2rem + .8vw);
    opacity: .9;
    color: white
}

.quickContact ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.quickContact ul li i{
    color: white;
}

@media only screen and (max-width: 1000px){
    .slideTitle{
        font-size: calc(1.5rem + 1vw);
    }

    .slideDescription{
        font-size: calc(1rem + 1vw);
    }

    .slideShop{
        font-size: calc(.7rem + 1vw);
    }

    #card1, #card2{
        flex-direction: column !important;
    }
    #card1 article, #card2 article{
        width: 100%;
    }

    #card1 img, #card2 img{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 666px){
    header{
        position: relative;
        background-color: rgba(253, 253, 253, 0.65);
        position: fixed;
    }

     #burgerMenu{
        display: inline-block;
        margin-right: 1rem;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        padding: 1rem;
    }

    nav ul, nav:active ul{
        display: none;
        z-index: 50;
        position: absolute;
        padding: 1.5rem;
        border-radius: 2rem;
        top: 100%;
        right: 0;
        margin: 0;
        height: auto;
        width: 50%;
        opacity: .85;
        background-color: white;

    }

    nav ul li{
        text-align: center;
        width: 100%;
        font-size: 120%;
        margin: .5rem;
    }

    #burgerMenu:hover + ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    nav ul:hover{
        display: flex;
        flex-direction: column;
    }

    #submenu{
        width: 100%;
        font-size: calc(.5rem + .5vw);
    }
}

@media only screen and (max-width: 460px){
    .slideTitle{
        font-size: calc(1rem + 1vw);
    }

    .slideDescription{
        font-size: calc(.7rem + 1vw);
    }

    .slideShop{
        font-size: calc(.5rem + 1vw);
    }
}