.banner{
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(316deg, #6561d4, #6d91b9, #5fbf9b, #12ec77);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.promoText{
    width: 100%;
    height: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.promoText h1{
    font-family: 'Righteous', cursive;
    font-size: calc(2rem + 1.2vw);
}

.products{
    width: 75vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1rem auto;
}

.productCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 8px 16px 0 rgba(150, 102, 102, 0.4);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.cardImage{
    margin-right: 3%;
    border-radius: 1rem;
    width: 40%;
}

.cardImage img{
    border-radius: 2rem;
    object-position: center;
    object-fit: cover;
    height: auto;
    display: block;
    margin: 0 auto;
    width: 100%;
    transition: all .3s ease-out;
}

.cardImage img:hover{
    transform: scale(1.02);
    box-shadow: 0 16px 32px 0 rgba(150, 102, 102, 0.8);
    transition: all .5s ease-in;
}

.cardDescription{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cardText{
    text-align: center;
}

.productTitle{
    font-size: calc(1.2rem + 1vw);
}

.productDesc{
    font-size: calc(.8rem + .5vw);
}

.buyMe{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    justify-content: space-between;
    margin-right: 2rem;
    margin-top: 1rem;
}

.buyMe a, .buyMe span{
    font-size: calc(.7rem + .5vw);
    color: #6561d4;
}

@media only screen and (max-width: 760px){

    .products{
        width: 90vw;
    }

    .productCard{
        flex-direction: column;
    }

    .cardImage, .cardDescription, .buyMe{
        width: 100%;
    }

    .buyMe{
        width: 75%;
        margin: 0 auto;
        padding: 2vw;
    }
}